<form action="page5" method="post">
<fieldset>
<label>Username:</label><input type="text" name="textfield">
</fieldset>
<fieldset>
<label>Password:</label><input type="text" name="upassword">
</fieldset>
<input type="submit" name="submit">
</form>
